@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
  background: white;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
button,
input{
  font-family: "Montserrat", sans-serif;
}